.banner {
    background-color: map-get($colours, primary);   
    padding: 0.3rem;

    h1 {
        padding-left: 1rem;
        color: map-get($colours, sec-txt);
        font-size: 3rem;

        span.and{
            color: map-get($colours, secondary);
        }
    }    
    
    h2 {
        color: map-get($colours, sec-txt);
        padding: 2rem;
        font-size: 1.5rem;
    }
}
