.banner {
    background-color: light-dark(map-get($colours, background), map-get($colours, primary));   
    padding: 0.3rem;

    h1 {
        padding-left: 1rem;
        color: light-dark(map-get($colours, sec-txt), map-get($colours, sec-txt));
        font-size: 3rem;

        span.and{
            color: light-dark(map-get($colours, primary), map-get($colours, secondary));
        }
    }    
    
    h2 {
        color: map-get($colours, sec-txt);
        padding: 2rem;
        font-size: 1.5rem;
    }
}
