.scroll {
    $img-width: 16vw;

    $time: 9s;
    $quantity: 5;

    width: 100%; 
    height: $img-width;
    
    overflow: hidden; 
    position: relative; 

    display: flex;
    align-items: center;

    img {
        width: $img-width;
        
        position: absolute; 
        left: 100%; 
        
        animation: AutoRun $time linear infinite; 
        
        /*
        * this calculates the delay for each image
        * time / (quantity * index) - time
        * time
        *   - the length of the animation
        * quantity
        *   - the number of images
        * index
        *   - the index of each image
        */
        
        @for $index from 0 through $quantity - 1 {
            &#img-#{$index} {
                animation-delay: ( math.div($time, $quantity) * $index - $time );
            }
        }
    }
            
    @keyframes AutoRun {
        to {
            left: -$img-width;
        }
    }
}    
