.scroll {
    $height: 22rem;

    width: 100%;
    height: $height;
    
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: center;

    img {
        width: 15.6rem;
        position: absolute;
        left: 100%;
        animation: AutoRun var(--time) linear infinite;
        animation-delay: calc(var(--time) / var(--quantity) * var(--index) - 16S);
    }
}

@keyframes AutoRun {
    to {
        left: -15.6rem
    }
}